<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body id="contact-page">
	<% include header_navbar.ejs %>
	<div class="row contact-form">
		<div class="contact-form-input col-lg-4 col-lg-offset-2 ">
			<form method="POST" >
				<div class="contact-input">
					<input type="text" class="contact-form-control" placeholder="Name" name="name">
					<hr />
				</div>
				<div class="contact-input">
					<input type="text" class="contact-form-control" placeholder="Email address" name="email">
					<hr />
				</div>
				<div class="contact-input">
					<input type="text" class="contact-form-control" placeholder="Phone number" name="phonenumber">
					<hr />
				</div>
				<div class="contact-message-input">
					<textarea name="message" class="contact-form-control"  placeholde="Message" cols="25" rows="5">
					</textarea>	
				</div>
				<hr />
				<div class="contact-submit">
					<button type="submit" class="contact-submit-button"> Send </button>
				</div>
			</form>
		</div>
	</div>
	<hr width="70%"/>
</body>
</html>