<!DOCTYPE html>
	<html>
	<head>
		<title>Framework J-G</title>

		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<script type="text/javascript" src="javascripts/script.js"></script>
	</head>
	<body id="index-page">
		<% include header_navbar.ejs %>
		<section class="home-section container">
			<div>
				<center><h1>Apple & Credit Card</h1></center>
			</div>

			<article class="home-article">
				<p> Apple products is expensive but they give us satisfaction like Jay is very shitting but he gives that lazy guys named Gaetan a good code !. <br />So don't blame & Keep cool</p>
			</article>
		</section>
		<section class="home-features container">
			<div class="home-features-button">
				<a href="/features">Features</a>
			</div>
		</section>
	</body>
</html>