<!DOCTYPE html>
	<html>
	<head>
		<title>Passport</title>

		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	</head>
	<body>
		<% if (!isAuthenticated) { %>
			<div class="navbar">
				<a href="/login">Login Here</a>
			</div>
		<%	} else { %>
				Hello, <%= user.id %>!
				<a href="/logout">Log out</a>
		<%	} %>
		</header>

	</body>
</html>