<!DOCTYPE html>
	<html>
	<head>
		<title>Login</title>

		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	</head>
	<body>
		<header>
			<div class="container">
				<h1>Login Page</h1>
				<h4>Hello World</h4>
				<br />
				<p>Username = Password</p>
				<br />
				<form action="/login" method="POST" style="max-width: 300px;">
					<div class="form-group">
						<input class="form-control" type="username" name='username' placeholder='Username'>
						<br />
						<input class="form-control", type='password' name='password' placeholder='Password'>
					</div>
					<div class="form-group">
						<a href="/"><button type="submit" value="Log in" class="btn btn-primary">SUBMIT</button></a>
					</div>
				</form>
			</div>
		</header>
	</body>
</html>